*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 189, 220);
    color: white; /* 내부에 있는 것 모두 흰색*/
}

main{
    width: 800px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center; /* 중앙 위치*/
    color: rgb(255, 67, 214);
}

.game-status-container{
    display: flex; /* 부모 태그의 범위에서 꽉 채움*/
    justify-content: space-between; /* 자식 태그인 div가 양쪽으로 배치되도록*/
    margin-bottom: 20px;
    font-size: 30px;
}
.game-status-container b{
    margin-right: 15px; /* b태그와 span태그 사이 간격*/
}
/*************************************************/
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한줄에 2개 배치*/
    grid-template-rows: repeat(4, 1fr); 
    height: 800px;
    /*
    main{
        width: 600px;
    }
    영향을 받고 있어서, 정사각형으로 나옴
    
    */
}

img {
    display: flex;
    width: 200px;
    height: 200px;
}